header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    color: #000;
    margin-right: 20px;
}

nav a {
    color: #000;
    text-decoration: none;
}

/* Main section styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    flex-basis: calc(50% - 20px);
    margin-bottom: 40px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

li {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

li img {
    max-width: 100%;
    margin-bottom: 10px;
}

li h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

li p {
    font-size: 14px;
    margin-bottom: 20px;
}


button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}


body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f9f9f9;
}

.movie-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: auto;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #666;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

.watch-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.watch-button:hover {
    background-color: #45a049;
}

.movies-list {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
}


.movie-detail {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: auto;
}
