<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> Login </h2>
        {% if messages %}
            {% for messages in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

    <from method="POST">
        { csrf.token % }
        {{ form.as_p }}
        <button type="submit"> Enter </button>
    </from>
    <p> You don`t have account? <a href="{% url 'register' %}"> Sign up </a></p>
</body>
</html>